body {
  font-family: Questrial, sans-serif;
  font-size: 1.1rem;
}

input {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

table {
  border-spacing: 0;
}

.output {
  line-height: 114%;
}

.error {
  color: crimson;
}

td:first-child {
  padding-right: 1em;
}

@media (prefers-color-scheme: light) {
  tr:nth-child(odd) {
    background-color: #eee;
  }

  tr:nth-child(even) {
    background-color: gainsboro;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: whitesmoke;
  }

  tr:nth-child(odd) {
    background-color: #2d2d2d;
  }

  tr:nth-child(even) {
    background-color: #252525;
  }
}
